wsdl/ups/VoidWebServiceSchema.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.ups.com/XMLSchema/XOLTWS/Void/v1.0" xmlns:common="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" xmlns:void="http://www.ups.com/XMLSchema/XOLTWS/Void/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">  <xsd:import namespace="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" schemaLocation="common.xsd"/>  <xsd:element name="VoidShipmentRequest">    <xsd:complexType>      <xsd:sequence>        <xsd:element ref="common:Request"/>        <xsd:element name="VoidShipment">          <xsd:complexType>            <xsd:sequence>              <xsd:element name="ShipmentIdentificationNumber" type="xsd:string"/>              <xsd:element maxOccurs="unbounded" minOccurs="0" name="TrackingNumber" type="xsd:string"/>            </xsd:sequence>          </xsd:complexType>        </xsd:element>      </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:element name="VoidShipmentResponse">    <xsd:complexType>      <xsd:sequence>        <xsd:element ref="common:Response"/>        <xsd:element name="SummaryResult">          <xsd:complexType>            <xsd:sequence>              <xsd:element name="Status" type="common:CodeDescriptionType"/>            </xsd:sequence>          </xsd:complexType>        </xsd:element>        <xsd:element maxOccurs="unbounded" minOccurs="0" name="PackageLevelResult" type="void:PackageLevelResult"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:complexType name="PackageLevelResult">    <xsd:sequence>      <xsd:element name="TrackingNumber" type="xsd:string"/>      <xsd:element name="Status" type="common:CodeDescriptionType"/>    </xsd:sequence>  </xsd:complexType></xsd:schema>